* {
    border: none !important;
}
html, body {
    height: 100%;
    /* border: solid 1px black; */
    box-sizing: border-box;    
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;     
    font-family: 'Raleway', sans-serif;
    /* background: #292929; */
    background: #343434;
}
.container {
    border: solid 1px red;
    max-width: 1140px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
/* Header */
.header {
    border: solid 1px blue;
    position: fixed;    
    width: 100%;    
    background: rgba(41, 41, 41, 0.8);    
    z-index: 3;
}
.header .container {    
    height: 65px; 
}
.logo {
    border: solid 1px green;
    margin: 0;
}
.logo img {
    height: 37px;   
}
.logo a {
    text-decoration: none;    
    color: #ddd;
    font-size: 24px;
    letter-spacing: 8px;    
}
.menu {
    border: solid 1px green;
    padding: 0;
    background: transparent;
    color: rgba(202, 206, 221, 0.8);
}
.menu ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
}
.menu ul li {
    display: inline-block;
    /* margin-left: 25px; */
    border: solid 1px yellow;
}
.link {
    text-decoration: none;     
    font-weight: bold;
    color: rgba(202, 206, 221, 0.8) !important;
    padding-right: 0 !important;
    padding-left: 25px !important;
}
.link:hover {
    text-decoration: none;         
    color: white !important;        
}
.link.active {
    color: #fff;
    border-bottom: solid 1px !important;
}
/* Agregados para Menú Responsive */
.menu-list {
    border: solid 1px green;
    color: red;
    justify-content: flex-end;
}
.burger-button i {
    color: white;
    font-size: 1.2em;
}
/* Hero */
.hero {
    border: none !important;
    height: 95%;    
    /*background: url('../img/hero-01.jpg');*/
    /* background-color: #1b1f23; */
    background-repeat: no-repeat;
    /* background-position: 20% 50%; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;        
}
.hero .container { 
    color: white;   
    justify-content: center;
    align-items: center;
    height: 100%;    
}
.hero-description {
    /* border: solid 1px red !important; */
    text-align: center;
}
.hero-image {
    /* border: solid 1px green !important; */
    width: 100%;
    max-width: 555px;
    margin-top: 10%;
}
.title-main {
    font-size: 56px;
    letter-spacing: 10px;    
    border: solid 1px green;
    margin: 0;
    text-align: center;
    border-bottom: solid 1px #ddd !important;
    padding-bottom: 7px;
    /* font-weight: bold; */
}
.subtitle {
    border: solid 1px green; 
    text-align: center;
    margin: 0;
    margin-top: 15px;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 9px;    
}
.button-main {    
    color: white;
    background: #c00;
    text-decoration: none;
    display: inline-block;
    margin-top: 2.5em;
    padding: 15px 20px;
    letter-spacing: 1.5px;    
    font-weight: bold;    
}
.button-main:hover {
    text-decoration: none;
    color: white;
}
.arrow {
    border: solid 1px green;
    text-align: center;
    padding-top: 3.5em;
    margin: 0;
    font-size: 28px;
    cursor: pointer;
}
/* Brands */
.brands {
    border: solid 1px blue;
    background: #343434;
    padding: 25px 0;
    position: relative;
}
.brands::after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";    
    z-index: 9;    
    position: absolute;    
    border-top-color: #343434;
    border-width: 20px;
    margin-left: -20px;
}
.brand-item {
    /* border: solid 1px yellow;  */
    width: 10%;      
    box-sizing: border-box; 
    text-align: center;
}
.brand-item figure {
    margin: 0;
}
.brand-item img {
    width: 100%;
    max-width: 102px;
    /* border: solid 1px green; */
}
/* Services */
.services {
    /* border: solid 1px blue !important;     */
    background: white;
    padding-bottom: 90px;    
}
.services .container {
    align-items: initial;              
}
.title-secondary {
    /* border: solid 1px yellow; */
    margin: 0;
    text-align: center;
    padding: 50px 0 70px 0;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    position: relative;
}
.service-item {
    /* border: solid 1px green !important; */
    width: 19%;
    margin-bottom: 60px;
    text-align: center;
}
.service-image {
    margin: 0;
    text-align: center;
}
.service-image img {
    border-radius: 50%;
    max-width: 120px;
    width: 100%;
}
.service-details {
    /* border: solid 1px green; */
}
.service-title {
    /* border: solid 1px yellow; */
    margin: 0;
    text-align: center;
    padding-top: 10px;
    font-size: 1.5em;
}
.service-description {
    /* border: solid 1px yellow; */
    margin: 0;
    text-align: center;
    padding-top: 15px;
}
.service-link {    
    display: inline-block;
    margin-top: 7px;
    color: #0c63ce;
    font-weight: bold;
}
.service-link:hover {
    text-decoration: none;
}
/* Notice */
.notice {
    padding: 50px 0;
    background: #292929;
    position: relative;
}
.notice::after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";    
    z-index: 9;    
    position: absolute;    
    border-top-color: #292929;
    border-width: 20px;
    margin-left: -20px;
}
.notice .container {
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.notice div {
    /* border: solid 1px red !important; */
    text-align: center;
}
.notice h2 {
    color: white;
    margin: 0;
    text-align: center;
    font-size: 30px;
    background: #3c3c3c;
    padding: 10px;
    letter-spacing: 1px;
}
.notice p {
    color: white;
    margin: 0;
    text-align: center;
    padding-top: 15px; 
    padding-bottom: 50px;  
    font-size: 24px; 
    letter-spacing: 1px;
}
.notice a {    
    text-decoration: none;
    color: white;   
    background: #c00;
    letter-spacing: 1px;
    padding: 15px 25px;
}
/* Questions */
.questions {
    background: white;
    border: solid 1px blue;
    padding-bottom: 40px;        
}
.questions .container {
    /* border: solid 1px red;     */
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}
.question-card {
    border: none;
    border-bottom: solid 1px #ddd !important;
    margin-bottom: 15px;
}
.question-item {
    background-color: white;      
}
.question-item button {
    font-size: 18px;
    letter-spacing: 1px;
}
.question-title {
    color: #000;
    font-weight: bold;    
}
.question-title:hover {
    text-decoration: none;    
    color: #000;
}
.question-icon {
    float: right;
    color: #c00;
}
/* Contact */
.contact {
    /* background: url('../img/section.jpg') no-repeat !important;  */
    /* background-color: #1b1f23;    */
    padding-bottom: 50px;
    position: relative;
}
.contact::after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";    
    z-index: 9;    
    position: absolute;    
    border-top-color: #000;
    border-width: 20px;
    margin-left: -20px;    
}
.contact .container {
    justify-content: space-evenly;
    padding-top: 15px;
}
.contact .title-secondary {
    color: white;  
    padding-bottom: 15px;     
}
.subtitle-contact {
    border: solid 1px green;
    text-align: center;
    color: white;    
    margin: 0;  
    padding-bottom: 50px;   
    font-size: 24px;  
    letter-spacing: 1px;     
}
.contact-item {
    border: solid 1px green;
    padding-right: 15px;
}
.info {
    color: white;
    border: solid 1px yellow;
}
.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: solid 1px yellow;
}
.social-link {
    width: 45px;
    height: 45px;
    display: inline-block;
    margin: 0 10px;
}
.facebook {
    background-image: url('../img/social/facebook.svg');
    background-size: 45px 45px;
}
.instagram {
    background-image: url('../img/social/instagram.svg');
    background-size: 45px 45px;
}
.whatsapp {
    background-image: url('../img/social/whatsapp.png');
    background-size: 45px 45px;
}
.telephone {
    background-image: url('../img/social/tel.png');    
    background-size: 45px 45px;   
    position: relative; 
    color: transparent;
}
.telephone:hover {
    color: white;
    transition: 0.5s;
}
.telephone p {
    position: absolute;
    bottom: -65px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.email {
    background-image: url('../img/social/email.png');
    background-size: 45px 34px;
    background-repeat: no-repeat;
    background-position: center;
}
.button-location {
    /*border: 2px solid white !important;*/
    color: white;
    background: #c00;
    text-decoration: none;
    display: inline-block;    
    padding: 16px 20px;
    letter-spacing: 1.5px;    
    font-size: 18px;    
    transition: ease 2s;
}
.button-location:hover {
    text-decoration: none;
    color: white;
    background: #c00;        
    transition: ease 1s;
}
.button-location i {
    padding-right: 3px;
}
/* Partner */
.partner {
    /* border: solid 1px blue !important; */
    /* background: #292929; */
    background: black;
    color: white;
    padding-bottom: 60px;
    position: relative;
}
.partner::after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";    
    z-index: 9;    
    position: absolute;    
    /* border-top-color: #292929; */
    border-top-color: black;
    border-width: 20px;
    margin-left: -20px;
}
.partner .container {
    /* border: solid 1px red !important; */
    justify-content: center;
}
.partner .title-secondary {
    padding-top: 60px;
    padding-bottom: 40px;
    letter-spacing: 2.5px;
}
.subtitle-partner {
    /* border: solid 1px green !important; */
    text-align: center;      
    margin: 0;  
    padding-bottom: 30px;   
    font-size: 24px;  
    letter-spacing: 1px; 
}
.partner-image-container {
    /* border: solid 1px yellow !important; */
}
.partner-image {
    width: 100%;
    max-width: 400px;
}
/* Footer */
.footer {
    border: solid 1px blue;
    background: #292929;
    color: white;
    /* background: white; */
    padding: 25px 0;
    /* color: #110A0B;   */
    text-align: center;  
}
.footer .container {
    /* display: block; */
    /* border: solid 1px red !important; */
    padding: 15px 15px;
}
.footer-description {
    /* border: solid 1px green !important; */
    margin: 0;
    /* font-weight: bold; */
    letter-spacing: 1.5px;
    color: #bbb;
}
.footer-description.author {
    font-weight: normal;
    font-size: 0.9em;
    letter-spacing: normal;
    color: #bbb;
}
/* Reprogramming */
.reprogramming .container {
    /* border: solid 1px red !important; */
}
.reprogramming-header {
    /* background: url('../img/reprogramacion/reprogramming.jpg'); */
    background: url('../img/reprogramacion/portada.jpeg');
    background-color: #222529;
    background-repeat: no-repeat;
    background-position: 20% 50%;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover; 
    /* border: solid 1px blue !important; */
    height: 50%;
}
.reprogramming-header .container {
    /* border: solid 1px red !important;     */
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.reprogramming-title {
    /* border: solid 1px green !important; */    
    background: #c00;
    padding: 5px 15px;                  
    color: white;
    position: absolute;
    bottom: -30px;
    z-index: 2;
    font-size: 36px;
    letter-spacing: 10px;
}
.reprogramming {
    /* border: solid 1px blue !important; */
    /* padding-top: 90px;
    padding-bottom: 90px;    */
    padding: 10% 0 8% 0;
    background: white;
}
.reprogramming .accordion {
    /* border: solid 1px yellow !important; */
    width: 100%;
}
/* Products */
.container.products {    
    justify-content: center;        
    padding: 2% 0 15% 0;
}
.title-warning {
    text-align: center;
    margin-top: 40px;
}
/* All */
.button-fixed {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 10;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    color: white;
    font-size: 32px;
    /* background: rgba(204, 0, 0, 1); */    
    background: #1b9a59;
    visibility: hidden;
}
.opacity {
    /* border: solid 1px red !important; */
    opacity: 0;
}



